<h1> Reports Menu </h1>

<table border=1>
			<tr>
					<th> Report Name </th>
					<th> Report Description </th>
					<th> Report Link </th>
			</tr>
			<tr>
				<td> Customers Report </td>
				<td> A report consisting of information of all the customers.</td>
				<td> <a href="/reports/allcustomers">Customers Report</a></td>
            </tr>
			<tr>
				<td> Vehicles Report </td>
				<td> A report consisting of information of all the vehicles.</td>
				<td> <a href="/reports/allvehicles">Vehicles Report</a></td>
            </tr>
			<tr>
				<td> Sales Report </td>
				<td> A report consisting of information of all the sales.</td>
				<td> <a href="/reports/allsales">Sales Report</a></td>
            </tr>
</table>
