<h1> Reports Menu </h1>

<p> The following report is a listing of all Customer Details: <a href="/reports/allcustomers">Customer Report</a> </p>
<p> The following report is a listing of all Vehicle Details: <a href="/reports/allvehicles">Vehicles Report</a> </p>
<p> The following report is a listing of all Sales Details: <a href="/reports/allsales">Sales Report</a> </p>