<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><b>About Chicago Autohub</b></p>
	<p> Chicago Autohub is a used car sales dealership established in 2020, by its founder and current owner Yusuf Talaty
		in the Chicagoland area. <br> The dealership focuses primarily on the selling 
		of used cars in working condition. Our low-priced, low-interest, price-matching 
		guarantee <br> for every customer ensures complete satisfaction. We are independently 
		owned and operated, and are seeking qualified individuals for career positions. </p>
	<img src="/images/established.jpg" width="150" height="150">
  </body>
</html>
