<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>About Chicago Autohub</p>
	<p> Chicago Autohub is a used car sales dealership established in 2020,
		in the Chicagoland area. The dealership focuses primarily on the selling
		of used cars in working condition. Our low-priced, low-interest, price-matching
		guarantee for every customer ensures complete satisfaction. We are independently
		owned and operated, and are seeking qualified individuals for career positions. </p>
  </body>
</html>
