<% if (catalog.length > 0) {%>
	<% catalog.forEach((recref, index) => { %>
		<product> 
		<form action="/catalog/add" method="post" >
		<input type="hidden" name="vehicle_id" value=<%= recref.vehicle_id %> > 
			<table> 
				<tr><td><b><%= recref.vehicle_name %></b></td></tr>
				<tr><td><%= recref.vehicle_description %></td>
				<tr><td><b>Price:<%= recref.vehicle_amount %></b></td></tr>
				<tr>
					<td> <button type="submit" class="button1">Add to Cart</button></td>
				</tr>

			</table>
		</form>
		</product>
	<% }); %>
<% } %>
