<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ChiAutohub - Used Car Sales </h1>
    <p>Welcome to Chicago Autohub!</p>
	<p> Choose from a wide variety of used cars!</p>
	<img src="/images/car_dealer.jpg" width="300" height="200">
  </body>
</html>
