<h1>ChiAutohub - Used Car Sales </h1>
<p><b>Welcome to Chicago Autohub!</b></p>
<p> Choose from a wide variety of used cars! Below are a few pictures of our vehicle inventory.</p>
<img src="/images/car_dealer.jpg" width="300" height="200">
<img src="/images/usedcars.jpg" width="300" height="200">
<img src="/images/tesla.jpg" width="300" height="200">
<img src="/images/usedcars1.png" width="290" height="200">

