<h1>ChiAutohub - Used Car Sales </h1>
<p><b>Welcome to Chicago Autohub!</b></p>
<p> Choose from a wide variety of used cars!</p>

<table width="100%"><tr>
	<td width="80%">
	<% if (allrecs.length > 0) {%>
		<% allrecs.forEach((recref, index) => { %>
			<product>
				<table>
					<tr><td><%= recref.package_name %></td></tr>
				</table>
			</product>
		<% }); %>
	<% } %>
	</td>
	
	<td width="20%">
	<% if (promos.length > 0) {%>
		<table> 
		<% promos.forEach((pref, index) => { %>
				<tr><td> <%= pref.adtitle %> </td></tr>
				<tr><td><img src="/images/<%= pref.adimage %>" width=200 height=150></td></tr>
		<% }); %>
		</table>
	<% } %>
	</td>
</tr></table>
