<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ChiAutohub - Used Car Sales </h1>
    <p>Welcome to ChiAutohub!</p>
	<p> Choose a used car and enjoy!</p>
  </body>
</html>
