<h1>Chicago Autohub Privacy Policy</h1>
<p> All customer data is secured and will be kept confidential. </p>
<p> All vehicle data is given by vehicle owners and is verified through a third-party service. <p>
<p> All sales are kept confidential and are only shared with state governmental agencies for reporting purposes. </p>
<p> Written Permission must be given by customers for their sale data to be shared online. </p>
<p> Data given by previous vehice owners can only be shared through our third-party verification service </p>
