<h1> Add New Dealer</h1>
<form action="/dealers" method="post">
   <table>
		<tr> <td> Dealer ID: </td> <td> <input type="number" name="dealer_id" required> </td> </tr>
		<tr> <td> Dealer First Name: </td> <td> <input type="text" name="firstname" required>  </td> </tr>
		<tr> <td> Dealer Last Name: </td> <td> <input type="text" name="lastname" required>  </td> </tr>
		<tr> <td> Dealer Email: </td> <td> <input type="text" name="email" required> </td> </tr>
		<tr> <td> Dealer Phone: </td> <td> <input type="text" name="phone" required> </td> </tr>
		<tr> <td> Dealer Address: </td> <td> <textarea name="address" rows="1" cols="20"> </textarea> </td> </tr>
		<tr> <td> Dealer City: </td> <td> <textarea name="city" rows="1" cols="20">  </textarea> </td> </tr>
		<tr> <td> Dealer State: </td> <td> <textarea name="state" rows="1" cols="20">  </textarea> </td> </tr>
		<tr> <td> Dealer Zip: </td> <td> <input type="text" name="zip" required> </td> </tr>
		<tr> <td> Dealer Username: </td> <td> <input type="text" name="username" required> </td> </tr>
		<tr> <td> Dealer Password: </td> <td> <input type="text" name="password" required> </td> </tr>
		<tr> <td> Dealer Start Date: </td> <td> <input type="date" name="dealer_start_date" required> </td> </tr>
   </table>
   <button type="submit">Save</button>
</form>
