<h1> Add New Customer</h1>
<form action="/customers" method="post">
   <table>
		<tr> <td> Customer ID: </td> <td> <input type="number" name="customer_id" required> </td> </tr>
		<tr> <td> Customer First Name: </td> <td> <input type="text" name="firstname" required>  </td> </tr>
		<tr> <td> Customer Last Name: </td> <td> <input type="text" name="lastname" required>  </td> </tr>
		<tr> <td> Customer Email: </td> <td> <input type="text" name="email" required> </td> </tr>
		<tr> <td> Customer Phone: </td> <td> <input type="text" name="phone" required> </td> </tr>
		<tr> <td> Customer Address: </td> <td> <input type="text" name="address" required> </td> </tr>
		<tr> <td> Customer City: </td> <td> <input type="text" name="city" required> </td> </tr>
		<tr> <td> Customer State: </td> <td> <input type="text" name="state" required> </td> </tr>
		<tr> <td> Customer Zip: </td> <td> <input type="text" name="zip" required> </td> </tr>
		<tr> <td> Customer Username: </td> <td> <input type="text" name="username" required> </td> </tr>
		<tr> <td> Customer Password: </td> <td> <input type="text" name="password" required> </td> </tr>
		<tr> <td> Customer Create Date: </td> <td> <input type="date" name="create_date" required> </td> </tr>
   </table>
   <button type="submit">Save</button>
</form>
