<h1> Vehicle Details </h1>
<table>
	<tr> <td> Vehicle ID: </td> <td> <%= onerec.vehicle_id %> </td> </tr>
	<tr> <td> Vehicle Name: </td> <td> <%= onerec.vehicle_name %> </td> </tr>
	<tr> <td> Vehicle Description: </td> <td> <%= onerec.vehicle_description %> </td> </tr>
	<tr> <td> Vehicle Amount: </td> <td> <%= onerec.vehicle_amount %> </td> </tr>
</table>
